@import "tailwindcss";
@import "@splidejs/react-splide/css/core";
@import "@splidejs/react-splide/css/sea-green";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

*{
    scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
